/* Image position */
img[alt*="right"] {
    float: right;
    clear: right;
    margin: 0 0 1rem 1rem;
    box-shadow: none;
}
img[alt*="left"] {
    float: left;
    clear: left;
    margin: 0 1rem 1rem 0;
    box-shadow: none;
}
img[alt*="full"] {
    margin-bottom: 1rem;
    box-shadow: none;
    width: 100%;
}
@media screen and (max-width: 720px) {
    img[alt*="tablet"] {
        display:inline;
    }
    img[alt*="desktop"] {
        display:none;
    }
}
@media screen and (min-width: 721px) {
    img[alt*="tablet"] {
        display:none;
    }
    img[alt*="desktop"] {
        display:inline;
    }
}
